/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 375px;
  height: 668px;
  padding: 10px 10px 0 10px;
  background-image: var(--background-picture);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-rows: 176px 300px 148px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  align-items: start;
  max-block-size: min(100vh, 668px);
  margin-block-end: 50px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: var(--decorated-zone-width);
  height: var(--decorated-zone-width);
  justify-self: flex-end;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: relative;
  grid-row: 4;
  grid-column: 1;
  justify-self: flex-start;
  align-self: flex-end;
  width: var(--decorated-zone-width);
  height: var(--decorated-zone-width);
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  padding-inline-end: 28px;
  grid-column-start: 3;
  display: var(--rec-visibility);
}

.rec::before {
  content: "REC";
}

.rec::after {
  content: " ";
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  right: 10px;
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu {
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: flex-end;
  padding-block-end: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--accent-color);
  cursor: pointer;
  padding: 3.5px 13px 4px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header-title {
  font-weight: 700;
  line-height: 95px;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--text-shadow);
  text-shadow: 4px 4px 0 var(--header-title-text-shadow-color);
  grid-column-end: span 3;
  grid-row: 2;
  align-self: center;
}

.header-description {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-description-color);
  grid-row: 3;
  grid-column-end: span 3;
}

.title-decor {
  background-color: var(--title-decor-color);
}

.main__section-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
  line-height: 23.4px;
  margin-block-end: var(--gap-between-content);
}

.advice-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-description-color);
  margin-block-end: 10px;
}

.advice-text {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--advice-text-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advice-list {
  display: flex;
  gap: var(--gap-between-content);
  flex-direction: column;
}

.advice-text-link {
  text-shadow: 1px 1px 0 var(--link-shadow-color);
}

.advice-text-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--advice-text-color);
}

.advice-text-link:focus-visible {
  outline: 1px solid var(--advice-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-theme-button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.advice-list > .advice-title {
  margin-block-end: 0;
}

.advice-title ~ li .advice-title {
  font-weight: 400;
}

.gallery-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-block-end: 50px;
}

.gallery-image {
  max-width: 355px;
  display: block;
}

.image-sunset {
  grid-area: sunset;
}

.image-street {
  grid-area: street;
}

.image-books {
  grid-area: books;
}

.image-ice-cream {
  grid-area: ice-cream;
}

.image-tape {
  grid-area: tape;
}

.footer {
  display: grid;
  max-block-size: 100vh;
  grid-template-rows: 176px 300px 148px 25px;
  max-block-size: min(100vh, 668px);
}

.footer .header-title {
  text-shadow: 3px 3px 0 var(--header-title-text-shadow-color);
}

@media (375px < width <= 768px) {
  .page {
    width: 768px;
    height: 1024px;
    padding: 20px 20px 0 20px;
  }
  .header {
    grid-template-rows: 283px 423px 255px 25px;
    grid-template-columns: 242px 121px 121px 242px;
    max-block-size: min(100vh, 1024px);
    margin-block-end: 148px;
  }
  .header__theme-menu {
    grid-column-start: 4;
  }
  .header-description {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .header .header-title {
    grid-column-start: span 4;
    justify-self: flex-start;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .content {
    padding-block-start: var(--gap-between-sections);
    gap: var(--gap-between-sections);
  }
  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: var(--gap-between-content);
  }
  .why .advice-list {
    grid-column-start: 2;
  }
  .what {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .what .advice-list {
    grid-row: 2;
    grid-column-start: span 2;
  }
  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: var(--gap-between-content);
  }
  .gallery .advice-title {
    margin-block-end: var(--gap-between-content);
  }
  .gallery-image {
    min-width: 229px;
    max-width: 479px;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
  .gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: var(--gap-between-content);
    margin-block-end: var(--gap-between-sections);
  }
  .footer .header-title {
    margin: 0;
    text-align: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .footer {
    grid-template-rows: 45px 1fr 45px;
    min-block-size: 984px;
    grid-auto-rows: 0;
    max-block-size: min(100vh, 1024px);
  }
}

@media (768px < width <= 1024px) {
  .page {
    padding: 20px 20px 0 20px;
    width: 1024px;
    max-block-size: min(100vh, 768px);
  }
  .header {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 46px 403px 253px 25px;
    margin-block-end: 139px;
  }
  .header__theme-menu-list {
    grid-column-start: 2;
    grid-column-end: 4;
    flex-direction: row;
  }
  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: flex-start;
  }
  .header .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.53px;
    grid-column-start: span 4;
    justify-self: flex-start;
    align-self: flex-end;
    margin-inline-start: -20px;
    padding-block-end: 18px;
  }
  .header-description {
    grid-column-start: 3;
    align-self: center;
  }
  .content {
    gap: var(--gap-between-sections);
  }
  .why {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: var(--gap-between-content);
  }
  .why .advice-list {
    grid-column-start: 2;
  }
  .what {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .what .advice-list {
    flex-direction: row;
    grid-row-start: 2;
    grid-column: span 3;
    justify-content: center;
  }
  .what .advice-list .advice-list-item {
    max-inline-size: 315px;
  }
  .advice-list-item {
    display: inline-block;
  }
  .how {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: var(--gap-between-content);
  }
  .gallery .advice-title {
    margin-block-end: 20px;
  }
  .gallery-image {
    min-width: 315px;
    max-width: 656px;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
  .gallery-list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 432px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    margin-block-end: var(--gap-between-sections);
  }
  .gallery-list .image-street {
    padding-block-start: 5px;
  }
  .footer .header-title {
    margin: 0;
    text-align: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .footer {
    grid-template-rows: 45px 639px 45px;
    min-block-size: 782px;
    grid-auto-rows: 0;
    max-block-size: min(100vh, 768px);
  }
}

.no-margin {
  margin: 0;
}
