/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --text-shadow: #DB00FF;
  --title-description-color: #000028;
  --advice-text-color: #F1B2CE;
  --header-theme-button-hover-color: rgb(255, 0, 112, 0.4);;
  --header-title-text-shadow-color: #FF0070;
  --background-picture: url(/images/cover-image-dark.png);
  --link-shadow-color: #FF0070;
  --rec-visibility: block;
  --title-decor-color: #FF0070;
  --gap-between-sections: 80px;
  --gap-between-content: 20px;
  --decorated-zone-width: 25px;
}
